.main {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
  padding: 1rem;
  gap: 1rem;

  .scrollContainer {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      width: 5px;
      height: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }
  }

  .containerCards {
    display: flex;
    gap: 16px;
    width: fit-content;
  }

  // .searchedCards {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-top: 15px;
  //   gap: 16px;
  //   justify-content: center;
  // }

  .titleHome {
    font-size: 2rem;
  }

  .bookCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    gap: 16px;
    padding: 16px;

    img {
      cursor: pointer;
    }
  }

  .buttonBuy {
    width: 90%;
    background-color: var(--accent);
    color: var(--text-light);
    font-size: 1rem;
    padding: 4px 1rem;
    border-radius: 4px;
    cursor: pointer;

    .buttonBuy {
      width: 90%;
      background-color: var(--accent);
      color: var(--text-light);
      font-size: 1rem;
      padding: 4px 1rem;
      border-radius: 4px;
      cursor: pointer;

      &:disabled {
        background-color: gray;
        color: white;
        cursor: not-allowed;
      }
    }
  }
}
